:root {
  --accent-color: rgb(154, 205, 255);
  --darker-accent: rgb(9, 99, 189);
  --dark-color: #1c1c1c;
  --lighter-dark: #2a2a2a;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#image {
  width: 100px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3rem;
}

.answersText {
  color: black;
  font-weight: 300;
}

#button {
  border: none;
  padding: 0.5rem 1.75rem 0.5rem 1.75rem;
  transition-duration: 0.4s;
  border-radius: 1rem;
  background-color: var(--accent-color);
  color: black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 15px;
  font-size: 3rem;
  font-weight: 500;
  width: 50%;
}

#button:hover {
  background-color: var(--darker-accent);
  color: white;
  cursor: pointer;
}

#inputField {
  border: none;
  background: var(--accent-color);
  color: black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

#inputField:focus {
  outline: none;
}

#inputField::placeholder {
  color: white;
}

#rd1 {
  cursor: pointer;
}

#rd2 {
  cursor: pointer;
}

#stepsDiv {
  visibility: hidden;
  text-align: center;
  width: 90%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: var(--accent-color);
  border-radius: 20px 20px;
  border: 2px solid black;
}

.steps {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 3rem;
  font-weight: 300;
}

#meanText {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#standardText {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0px;
}

#medianText {
  text-align: center;
  margin-top: 0px;
}

#note {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0px;
  margin-top: 2rem;
  color: rgb(50, 50, 50);
}

footer {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#inputAndButtonContainer {
  text-align: center;
  margin-top: 30px;
}

#radio {
  margin-top: 1rem;
  font-size: 1.8rem;
}

input[type="radio"] {
  transform: scale(1.5);
}

@media screen and (min-width: 1101px) {
  #button {
    font-size: 2.2rem;
    width: auto;
  }

  #inputField {
    font-size: 2rem;
  }

  .steps {
    font-size: 1.6rem;
  }

  #stepsDiv {
    width: fit-content;
  }

  .answersText {
    font-size: 2.5rem;
  }
  footer {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1100px) {
  #button {
    font-size: 2rem;
    width: auto;
  }

  #title {
    font-size: 4rem;
  }

  #inputField {
    font-size: 2.5rem;
    margin-left: 2%;
    margin-right: 2%;
  }

  .steps {
    font-size: 1.6rem;
  }

  #stepsDiv {
    width: fit-content;
    margin-left: 5%;
    margin-right: 5%;
  }

  #note {
    font-size: 1.8rem;
  }

  .answersText {
    font-size: 3rem;
  }
  footer {
    font-size: 1.3rem;
  }
}
